<style>

  .desc {
      font-weight: bold;
      font-size: 20px;
  }

  .h-item
  {
        margin-bottom: 33px;
  }
  .h-date{
      color:#777;
  }
  .h-desc
  {
      font-weight: bold;
  }
</style>
<div style="margin-top: 70px;min-height: 500px">
  <div class="container">
      <p class="desc">历史记录:</p>
      <div class="col-md-12 col-lg-12 h-item">
          <div>
            <p><span class="h-date">2016-4-24 星期天 早上10点</span></p>
            <p class="h-desc">vpn抽风了,好几天我必须做点什么了~~ 阿里云上还有个闲置服务器，用起来  </p>
             <a href="/imgs/coderlong.v1.png" target="_blank"><img width="400" src="/imgs/coderlong.v1.png"></a>
          </div>
      </div>

     <div class="col-md-12 col-lg-12 h-item">
          <div>
            <p><span class="h-date">2016-4-28 星期四 晚上10点</span></p>
            <p class="h-desc">花半个小时，用bootstrap样式调一下页面，添加一个about，添加一个footer </p>
            <a href="/imgs/coderlong.v2_1.png" target="_blank"><img width="400" src="/imgs/coderlong.v2_1.png"></a>
            <a href="/imgs/coderlong.v2_2.png" target="_blank"><img width="400" src="/imgs/coderlong.v2_2.png"></a>
          </div>
     </div>

  </div>


</div>
</div>
